<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-responsive">
      <thead>
        <caption>
          <h2><%= @wish.title %></h2>
          <small>
            submitted <%= time_ago_in_words(@wish.created_at) %> ago by <%= @wish.user.username %>
          </small>
          <div class="pull-right">
            <% if policy(@wish).edit? %>
              <%= link_to "Edit", edit_list_wish_path(@wish.list, @wish), class: 'btn btn-info btn-sm' %>
            <% end %>
            <% if policy(@wish).destroy? %>
              <%= link_to "Delete Wish", [@wish.list, @wish], method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure you want to delete this wish?' } %>
            <% end %>
            <%= link_to @wish.list.name, list_path(@wish.list), class: 'btn btn-success btn-sm'%>
          </div>
        </caption>
        <tr>
          <th> rating </th>
          <th> link </th>
          <% if @wish.url.present? %>
            <th> description </th>
          <% end %>
          <% if @wish.price.present? %>
            <th> price </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="heart-table">
            <% num_stars(@wish.rating)[:full].times do %>
              <i class="fa fa-heart"></i>
            <% end %>
            <% num_stars(@wish.rating)[:empty].times do %>
              <i class="fa fa-heart-o"></i>
            <% end %>
          </td>
          <% if @wish.url.present? %>
            <td class="link-table-cell">
                <% img_url = display(@wish.url) %>
                <% if img_url == nil %>
                  <%= link_to(@wish.url, @wish.url) %>
                <% else %>
                  <%= link_to(image_tag(img_url, class: "img-responsive"), @wish.url) %>
                <% end %>
            </td>
          <% end %>
          <td>
            <p><%= sanitize gemojify( @wish.body ) %></p>
          </td>
          <% if @wish.price.present? %>
            <td>
              <p> <%= @wish.price_cents %> <%= @wish.currency %></p>
            </td>
          <% end %>
        </tr>
      </tbody>
     </table>
  </div>
</div>
