<br>
<div class="text-center well">
  <div class="span9">
    <h1>All Wishlists</h1>
      <% if policy(List.new).create?%>
      <%= link_to "New Wishlist", new_list_path, class: 'btn btn-success btn-sm' %>
      <% end %>
  </div>
</div>

<div class="well text-center">
  <div class="col-md-12">

  </div>
</div>

<% @public_lists.each do |list| %>
  <div class="row text-center">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item">
          <h4><%= link_to list.name, list %></h4>
          <small> by <%= list.user.username %></small><br>
          <small><%= list.description %></small><br>
          <% if list.wishes.count > 1 %>
            <small><%= list.wishes.count %> Wishes</small>
          <% else %>
            <small><%= list.wishes.count %> Wish</small>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
