<br>
<div class="well">
  <h1><%= @list.name %></h1>
  <p class="lead"><%= @list.description %></p>
  <div>
    <% if policy(@list).edit? %>
      <%= link_to "Edit Wishlist", edit_list_path, class: 'btn btn-info btn-sm' %>
    <% end %>
    <% if policy(@list).destroy? %>
      <%= link_to "Delete Wishlist", @list, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure you want to delete this wishlist?' } %>
    <% end %>
    <% if policy(Wish.new).create? %>
      <%= link_to "New Wish", new_list_wish_path(@list), class: 'btn btn-success btn-sm' %>
    <% end %>
  </div>
  <br>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="4">
            <h4 class="media-heading">My Wishes for <%= @list.name %></h4>
          </th>
        </tr>
      </thead>
      <tbody>

        <% if @list.wishes.each do |wish| %>
          <tr>
            <td class="star-table-cell">
              <% num_stars(wish.rating)[:full].times do %>
              <i class="fa fa-heart"></i>
              <% end %>
              <% num_stars(wish.rating)[:empty].times do %>
                <i class="fa fa-heart-o"></i>
              <% end %>
            </td>
            <td>
              <h4 class="media-heading">
                <%= link_to wish.title, list_wish_path(@list, wish) %>
              </h4>
              <small>
                submitted <%= time_ago_in_words(wish.created_at) %> ago by <%= wish.user.username %> <br>
                <!-- <%= wish.comments.count %> Comments -->
              </small>
            </td>
            <% if wish.url.present? %>
              <td class="link-table-cell">
                <% object = MetaInspector.new(wish.url, :allow_redirections => false) %>
                <%= link_to(image_tag(object.images.best, class: "img-responsive col-xs-12"), wish.url) %>
              </td>
            <% end %>
            <td>
              <p><%= wish.body %></p>
            </td>
          </tr>
        <% end.empty? %>
          <tr>
            <td colspan="2">
              <p>No Wishes yet!</p>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
