<br>
<div class="well">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <%= link_to "Back", :back %>
</div>
<div class="col-lg-12 well">
	<div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <%= devise_error_messages! %>
        </div>
      <% end %>
			<div class="col-sm-12">
        <div class="form-group">
          <%= f.label :username %><br />
          <%= f.text_field :username, placeholder: "Enter Username Here..", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, placeholder: "Enter Email-Address Here..", class: "form-control" %>
        </div>
				<div class="row">
					<div class="col-sm-6 form-group">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, placeholder: "Enter First Name Here..", class: "form-control" %>
					</div>
					<div class="col-sm-6 form-group">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, placeholder: "Enter Last Name Here..", class: "form-control"  %>
					</div>
				</div>
        <div class="form-group">
          <%= f.label :date_of_birth %><br />
          <%= f.date_select :date_of_birth, :start_year => Date.current.year, :end_year => 1920 %>
        </div>
				<div class="form-group">
          <%= f.label :address %><br />
          <%= f.text_area :address, placeholder: "Enter Address Here..", rows:"2", class: "form-control" %>
				</div>
				<div class="row">
					<div class="col-sm-6 form-group">
            <%= f.label :city %><br />
            <%= f.text_field :city, placeholder: "Enter City Name Here..", class: "form-control" %>
					</div>
					<div class="col-sm-6 form-group">
            <%= f.label :country %><br />
            <%= f.country_select :country, priority_countries: ["AT", "CH", "DE"], class: "form-control" %>
					</div>
				</div>
  			<div class="form-group">
          <%= f.label :phone_number %><br />
          <%= f.telephone_field :phone_number, placeholder: "Enter Phone Number Here..", class: "form-control" %>
  			</div>

        <div class="form-group">
          <%= f.label :skype_handle %><br />
          <%= f.text_field :skype_handle, placeholder: "Enter Skype Handle Here..", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, placeholder: "Enter Password Here..", autocomplete: "off", class: "form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, placeholder: "Enter Password Confirmation Here..", autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, placeholder: "Enter Current Password Here..", autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Update", class: 'btn btn-info' %>
        </div>
			</div>
		<% end %>
	</div>
</div>

<h3 class="well">Cancel my account</h3>
<div class="col-lg-12 well">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-warning' %></p>
      </div>
    </div>
  </div>
</div>
