<div class="well text-center">
    <h1>Hi <%= @user.username %>!</h1>
    <% if policy(List.new).create?%>
      <%= link_to "New Wunschlist", new_list_path, class: 'btn btn-success btn-sm' %>
    <% end %>
</div>

<div class="row text-center">
  <div class="col-md-12">
    <% if @user_lists.each do |list| %>
    <ul class="list-group">
      <li class="list-group-item">
        <h4><%= link_to list.name, list %>
          <% if list.public %>
            <span class="glyphicon glyphicon-eye-open"></span>
          <% else %>
            <span class="glyphicon glyphicon-eye-close"></span>
          <% end %>
        </h4>
        <small><%= list.description %></small><br>
        <% if list.wishes.count > 1 %>
          <small><%= list.wishes.count %> Wishes</small>
        <% elsif list.wishes.count == 1 %>
          <small><%= list.wishes.count %> Wish</small>
        <% else %>
          <small> No Wishes yet </small>
        <% end %>
      </li>
    </ul>
    <% end.empty? %>
      <tr>
        <td colspan="2">
          <h4 class="text-center">No Wishes yet!</h4>
        </td>
      </tr>
    <% end %>
  </div>
</div>
