<div class="well text-center">
    <% if current_user == @user %>
      <h4>Here are your public Wunschlists!</h4>
    <% else %>
      <h4>Here are <%= @user.username %>'s public Wunschlists!</h4>
      <% if policy(List.new).create?%>
        <%= render 'follow_form' %>
      <% end %>
    <% end %>
</div>

<% if @user_public_lists.each do |list| %>

  <div class="row text-center">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item">
          <h4><%= link_to list.name, list %></h4>
          <small> by <%= list.user.username %></small><br>
          <small><%= list.description %></small><br>
          <% if list.wishes.count > 1 %>
            <small><%= list.wishes.count %> Wishes</small>
          <% elsif list.wishes.count == 1 %>
            <small><%= list.wishes.count %> Wish</small>
          <% else %>
            <small> No Wishes yet </small>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end.empty? %>
  <tr>
    <td colspan="2">
      <h4 class="text-center">No Wunschlists yet!</h4>
    </td>
  </tr>
<% end %>
