<!-- <div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.wishes.count, 'wishes') %>,
          <%= pluralize(@user.lists.count, 'lists') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Wishes</h2>
<%= render @user.wishes %>

<h2>Wishlists</h2>
<%= render @user.lists %> -->

<div class="row text-center">
  <h2>My Wishlists</h2>
    <% @user_wishes_lists.each do |list, wish| %>
      <div class="col-md-12">
        <strong><%= list.title %></strong><br />
        <% wishes.each do |wish| %>
        <div class="col-md-3">
            <p><%= @wish.body %></p>
          <div>
            <%= link_to "Edit", edit_list_wish_path(list, wish), class: 'btn btn-success btn-xs' %>
            <%= link_to "Delete Wish", [@list, wish], method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure you want to delete this wish?' } %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
</div>
