<br>
<div class="jumbotron">

  <h1>Welcome to Wunschlist</h1>
  <p>
    Save and share your wishes.
  </p>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="col-md-9">
  <%= image_tag("wl_ny.png", alt: "Responsive image", class: "img-responsive") %>
</div>

<div class="col-md-3">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th colspan="1">
          <h4 class="media-heading">Latest Public Wunschlists</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @public_lists.limit(6).each do |list| %>
        <tr>
          <td>
            <h5>
              <%= list.name %>
              <% if list.wishes.count > 1 %>
                (<%= list.wishes.count %> Wishes)
              <% elsif list.wishes.count == 1 %>
                (<%= list.wishes.count %> Wish)
              <% else %>
                (No Wishes yet)
              <% end %>
            </h5>
            <small>created <%= time_ago_in_words(list.created_at) %> ago</small>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
